HTTP_PORT=3128
HTTPS_PORT=3129
CACHE_DIR=/var/cache/squid
LOG_DIR=/var/log/squid
SQUID_USER=squid
SQUID_GROUP=squid
SSL_CERT_DIR=/etc/squid/ssl/certs
SSL_DB_DIR=/etc/squid/ssl/db
CERTIFICATE_NAME=my_ca_cert.pem
CERTIFICATE_KEY_NAME=my_ca_key.pem
ENABLE_SSL=true
ENABLE_CACHE=true
CACHE_MEM_SIZE=256 MB
CACHE_SWAP_SIZE=1 GB
MAX_OBJECT_SIZE=4 MB
MAX_OBJECT_SIZE_IN_MEMORY=512 KB
LOG_LEVEL=info