# Ignore the following files and directories when building the Docker image
*.pyc
__pycache__/
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
*.db
*.sqlite3
*.log
*.env
*.git
*.gitignore
docker-compose.yml
squid/ssl/certs/
squid/ssl/db/
web/static/README.md
web/tests/