# Ignore the following files and directories when building the Docker image
*.pyc
__pycache__/
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.venv/
.tmp/
*.db
*.log
*.env
.git/
.github/
.gitattributes
.editorconfig
*.gitignore
docker-compose.yml
docker-compose.ghcr.yml
README.md
config/
squid/ssl/certs/
squid/ssl/db/
web/static/README.md
web/tests/